
.d-flex {
    margin-left: 30em;
}


/* ------Fim do header--------*/



main {
    display: flex;
    flex-direction: row;
    background-color: rgb(182, 216, 182);
}

.principal {
    border: solid rgb(219, 209, 209);
    border-radius: 10px;
    margin: 20px; 
    width: 50%;
    height: 60em;
    background-color: white;


}
.titulo{

    display: flex;
    justify-content: center;
}

.biblioteca {
    display: flex;
    flex-direction: row;
    
    
}

.ebooks {
    margin: 40px;
    width: 100%;
    
    
}



img:hover {
    transform: scale(1.4);
    filter: brightness(.6);
    border-radius: 10px;
    box-shadow: 5px 4px 5px ;
    cursor: pointer;
}

.icon {
    text-decoration: none;
    height: 2em;
    width: 20px;
    border: none;
    color: green;
}

.icon:hover{
    transform: scale(1.5);
    filter: brightness(.6);
    cursor: pointer;

}

.favoritar {
    text-decoration: none;
    height: 2em;
    width: 20px;
    border: none;
    color: green;
}

.favoritar:hover{
    color:red;
    transform: scale(1.4);
    filter: brightness(.6);
    cursor: pointer;
}

.menu-opcoes{
    margin: 17% 83% ;
    border: solid red;
    border: solid rgb(219, 209, 209);
    border-radius: 10px;
    background: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 10em;
    padding: 10px;
}

.opcao-download{
    margin: 32% 2%;
    border: solid red;
    border: solid rgb(219, 209, 209);
    border-radius: 10px;
    background: white;
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15%;
    height: 10em;
    padding: 10px;
}

.modal-backdrop{
    display: none;
  }

/*----video -----*/
#Video{
    position: fixed;
    padding-right: 6%;
    border: solid red
   
    
}